body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
}
.programer-ratan {
    color: #FFA500;
}
.top-banner {
    display: flex;
    background-image: url(../image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.title {
    width: 50%;
    padding-left: 8%;
}
.title p {
    text-align: justify;
    color: dimgray;
}
.title img {
    width: 90%;
}
.title-btn{
    text-decoration: none;
    background: linear-gradient(#f25336,#FF8F6C);
    padding: 10px 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.second-sec{
    display: flex;
    background-image: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dreamBig-title{
    width: 50%;
    padding-right: 8%;
}
.dreamBig-title img{
    width: 90%;
    padding-left: 8%;
}
.dreamBig-title h2{
    font-size: 40px;
}
.dreamBig-title p{
    color: dimgray;
    text-align: justify;
}